{{define "main"}}

<section class="editable">
  <div class="page-title">
    <div class="container">
      <h1>About Us</h1>
      <hr class="custom-hr" />
    </div>
  </div>
</section>

<section>
  <div class="about-us editable">
    <div class="container">
      <div class="about-us-wrapper">
        <div class="left-side">
          <img src="/img/about.jpg" alt="Runtime" class="img-fluid" />
        </div>
        <div class="right-side">
          <p>
            At RunTime, we specialize in recruiting for a wide range of
            technology sectors, including Automotive, Medical,
            Telecommunications, Industrial Control, IOT / M2M, Product Design,
            Embedded Systems, Firmware Development, Audio, Defense Systems,
            Electronic Engineering, and Hardware Design. We deeply understand
            the skills and experience needed to succeed in these industries, and
            we are committed to finding the best candidates for your open
            positions.<br /><br />
            We know that job specifications can be complex and difficult to
            define, which is why we take the time to understand your specific
            needs and requirements. Our team will ask you questions about your
            projects, the problems you are trying to solve, and your team and
            company culture. We believe that by clearly understanding your
            needs, we can provide you with the best candidates for your open
            positions.<br /><br />
            We understand that job specs can often feel like wishlists, and we
            are here to help you define the essential skills and experience you
            need. Our team will work with you to help you identify the most
            important requirements for the role and to ensure that we find the
            most qualified candidates for the job at hand.<br /><br />
            Our team moves quickly to provide you with a good candidate flow of
            qualified candidates for your open positions. We understand that
            time is of the essence when it comes to hiring, and we are committed
            to providing you with the best candidates as quickly as possible. In
            return, we request a prompt response from you so we may secure the
            candidates and get them through the interview process as quickly as
            possible.
          </p>
        </div>
        <div>
          <p>
            When working with candidates, we guarantee an honest and quick
            response in complete confidence. We know that job hunting can be
            stressful and challenging, so we are committed to providing
            candidates with the support they need to succeed. We handle
            interviews with professionalism and speed, and we help candidates
            through salary negotiations, pre-interview coaching and resume
            advice.<br /><br />
            Our success is built on strong relationships with our clients and
            candidates. Our team is committed to providing exceptional service
            and support, and we are always looking for ways to improve our
            processes and services. We take the time to get to know you and your
            organization, so we can offer personalized service and support
            tailored to your needs.<br /><br />
            In addition to our recruiting services, we offer a comprehensive
            screening process to ensure that we only present candidates who are
            the best fit for your organization. This includes a review of their
            skills, experience, and cultural fit.<br /><br />
            For candidates, we offer a range of services to help you find the
            right job. We provide career coaching, resume advice, and interview
            preparation to help you stand out from other candidates. We also
            work with a range of companies across different industries, so we
            can offer you access to a wide range of job opportunities.<br /><br />
            If you are looking for the best recruiting and staffing agency to
            help you find the most qualified candidates for your open positions,
            look no further than RunTime. Our team of engineers turned
            recruiters and researchers has a deep understanding of the
            technology sector and is committed to providing exceptional service
            and support to our clients and candidates. We take a unique approach
            to candidate sourcing and are committed to moving quickly to provide
            you with a good flow of qualified candidates. We believe that by
            working together, we can help you achieve your goals and succeed in
            your business.<br /><br />

            <a href="contact-us.html" target="_blank" style="color: #ee3e42"
              ><b>Contact us</b></a
            >
            here today to learn more about our services and how we can help you
            find the best talent for your open positions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Roles Area -->
<section id="roles-area" class="editable">
  <div class="roles-area">
    <div class="container">
      <div class="sec-text">
        <h2 class="title">Roles We Recruit</h2>
        <a class="sec-btn" role="button" id="rolesToggleBtn">View all</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="What_do_Engineering_Team_Leaders_do.html"
                >Team Leaders</a
              >
            </h3>
            <p>
              Technical Team Leads manage tech professionals, coordinate
              projects, mentor and train, make high-level decisions, and drive
              team success..
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="What_do_IOT_Engineers_do.html">IOT Engineers</a>
            </h3>
            <p>
              IoT Engineers design and build systems that connect everyday
              devices to the internet, enabling remote monitoring and control.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="what_do_Electrical_Engineers_do.html"
                >Electrical Engineers</a
              >
            </h3>
            <p>
              Electrical Engineers design, develop and test electrical systems,
              from small electronic devices to large power generation plants.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="What_do_QA_Engineers_do.html">QA Engineers</a>
            </h3>
            <p>
              QA Engineers test software and systems to ensure they meet quality
              standards, detect defects, and ensure user satisfaction.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="What_does_a_Electronic_Engineer_do.html"
                >Electronics Engineers</a
              >
            </h3>
            <p>
              Electronics Engineers design, develop and test electronic systems,
              from tiny microchips to large-scale communication networks.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="roles-content">
            <h3>
              <a href="What_do_Mechanical_Engineers_do.html"
                >Mechanical Engineers</a
              >
            </h3>
            <p>
              Mechanical Engineers design, develop and test mechanical systems,
              from small parts to large machines, ensuring they function
              effectively and safely
            </p>
          </div>
        </div>
      </div>
      <div id="hiddenRoles">
        <div class="row">
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_FAE_Engineers_do.html">FAE Engineers</a>
              </h3>
              <p>
                FAE Engineers (Field Application Engineer) provide technical
                support to customers, helping them integrate complex products
                into their systems.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_Firmware_Engineers_do.html"
                  >Firmware Engineers</a
                >
              </h3>
              <p>
                Firmware Engineers design and develop low-level software that
                controls the hardware of electronic devices, from smartphones to
                autonomous vehicles.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_Avionics_Engineers_do.html"
                  >Avionics Engineers</a
                >
              </h3>
              <p>
                Avionics Engineers design, develop and test electronic systems
                used in aircraft, including navigation, communication, and
                flight control systems.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_Control_Systems_Engineers_do.html"
                  >Control Systems Engineers</a
                >
              </h3>
              <p>
                Control Systems Engineers design, develop and implements
                automated control systems, such as those used in manufacturing
                and transportation.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_does_a_Software_Engineer_do_.html"
                  >Software Engineers C/C++</a
                >
              </h3>
              <p>
                C/C++ Software Engineers design and develop software using the C
                and C++ programming languages, used in systems programming and
                embedded devices.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="what_do_Machine_Learning_Engineers_do.html"
                  >Machine Learning Engineers</a
                >
              </h3>
              <p>
                Machine Learning Engineers designs and develops systems that can
                learn from data and make predictions, used in fields such as AI
                and data analysis.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_Engineering_Managers.html"
                  >Engineering Managers</a
                >
              </h3>
              <p>
                Engineering Managers oversees technical projects and teams,
                manages budgets, allocates resources, and ensures successful
                project delivery.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_FPGA_Engineers_do.html">FGPA Engineers</a>
              </h3>
              <p>
                FPGA Engineers design, implement, and test custom digital
                circuits using FPGAs, and collaborate with other engineers to
                optimize system designs and troubleshoot issues during the
                process.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="roles-content">
              <h3>
                <a href="What_do_Full-Stack_Engineers_do.html"
                  >Full-Stack Engineers</a
                >
              </h3>
              <p>
                Full-Stack Engineers are responsible for designing, developing,
                and maintaining both the front-end and back-end components of
                web applications, ensuring they function smoothly and
                efficiently from end to end.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Industry section -->
<section id="industry-area" class="editable">
  <div class="industry-area">
    <div class="container">
      <div class="sec-text">
        <h2 class="title">Embedded Industries</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/medical.gif" alt="Medical"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Medical</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/transport.gif" alt="Transport"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Transport</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/industrial.gif" alt="Industrial"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Industrial</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/audio.gif" alt="Audio/Video"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Audio/Video</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"><img src="img/industry/space.gif" alt="Space" /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Space</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"><img src="img/industry/ml.gif" alt="ML/CV" /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">ML/CV</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/Farming.gif" alt="Agriculture"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Agriculture</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"><img src="img/industry/Energy.gif" alt="Energy" /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Energy</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/Teleco.gif" alt="Telecommunications"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title"><a href="#">Telecommunications</a></h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="industry-content">
            <div class="industry-img">
              <a href="#"
                ><img src="img/industry/IOT.gif" alt="Internet of Things (IoT)"
              /></a>
            </div>
            <div class="industry-text">
              <h3 class="title">
                <a href="#">Internet of Things (IoT)</a>
              </h3>
              <a class="industry-btn" href="https://jobs.runtimerec.com/"
                >See all Positions</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Technologies Area -->
<section id="technologies-area" class="editable">
  <div class="technologies-area">
    <div class="container">
      <div class="sec-text">
        <h2 class="title">Technologies</h2>
        <a class="sec-btn" role="button" id="techToggleBtn">View all</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>
              Drivers: Ethernet, Audio, Video, USB, 802.11x, 802.16x, PCIe, I/O,
              I2C, SPI
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>
              Board Bring up, Board Support Packages (BSP), boot code, HAL and
              diagnostics
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>
              ASIC design/Verification/Board-Level Design (Verilog, VHDL,
              SystemVerilog, OVM, UVM, Perl, Synopsys)
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>Firmware, device drivers and applications</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>FPGA Design/Verification</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tech-content">
            <i class="fa fa-check-square"></i>
            <p>Board level and systems development</p>
          </div>
        </div>
      </div>
      <div id="hiddenTechs">
        <div class="row">
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Microprocessor design/verification</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Protocol Stack porting and implementation</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>High Speed Board Design, Orcad, Signal Integrity</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>CAD, Solidworks, 3D models and 2D drawings(NX)</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Board Layout</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>PCB design from Altium Designer</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>PLC and SCADA</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>C, C++, assembly, scripting, microcode development</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Analogue and Digital Electronics design</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Porting of Operating Systems to new platforms</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Computer Vision and image processing</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>
                Platforms/SoC’s: ARM, MIPS, PowerPC, Intel, Freescale/Motorola,
                Network Processors
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tech-content">
              <i class="fa fa-check-square"></i>
              <p>Deep learning and Neural Networks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Clients -->
<section id="clients" class="editable">
  <div class="clients">
    <div class="container">
      <div class="sec-text">
        <h2 class="title">Some Clients</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/atomos.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/Lumen.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/Selectronic.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/Burrana.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/AppliedEV.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/Cohda-Wireless.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/outerspace.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="client-logo">
            <img src="img/client/RapidSilcon.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="editable">
  <div class="testimonials">
    <div class="container">
      <div class="sec-text">
        <h2 class="title">Testimonials</h2>
        <a class="sec-btn" href="testimonials.html">View all</a>
      </div>
      <div class="owl-carousel" id="testimonialSlider">
        <div class="item">
          <div class="test-content">
            <p>
              I have known and engaged with Runtime over the last ten years in
              variously projects and assignments. Runtime by far is one of the
              top specialist technical recruiters, RunTime engineering
              background and top personal skills place them in a unique
              positions in identifying the right candidates and talents quickly.
              I cherish Runtime's dedication, professionalism over the years and
              have no hesitation in recommending them for any assignments,
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"><img src="img/testimonial/test1.png" alt="" /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="test-content">
            <p>
              I have known and engaged with Runtime over the last ten years in
              variously projects and assignments. Runtime by far is one of the
              top specialist technical recruiters, RunTime engineering
              background and top personal skills place them in a unique
              positions in identifying the right candidates and talents quickly.
              I cherish Runtime's dedication, professionalism over the years and
              have no hesitation in recommending them for any assignments,
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"><img src="img/testimonial/test1.png" alt="" /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-text">
            <h2 class="title">Contact</h2>
          </div>
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
