{{define "main"}}

<section class="editable">
  <div class="page-title">
    <div class="container">
      <h1>Candidates</h1>
      <hr class="custom-hr" />
    </div>
  </div>
</section>

<section class="for-candidates editable">
  <div class="container">
    <div class="category-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-certificate"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Industry Expertise</h4>
              <p class="excerpt">
                Our consultants come from within the embedded industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-secret"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Discretion & Professional Confidentiality</h4>
              <p class="excerpt">At all times.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-thumbs-up"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Exclusive Job Opportunities</h4>
              <p class="excerpt">
                Leverage our relationships with high-tech companies worldwide.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-people-line"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Interview & CV preparation</h4>
              <p class="excerpt">
                Advise you through the application and interview stages.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-shield-heart"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Honest and open feedback</h4>
              <p class="excerpt">Throughout the recruitment process.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-group"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Clients</h4>
              <p class="excerpt">
                Deep understanding of client cultures, technologies and
                processes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-face-smile"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Post Placement</h4>
              <p class="excerpt">
                Stay in touch after you start to ensure you settle in.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-handshake"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Negotiation</h4>
              <p class="excerpt">
                Help during salary package negotiation and provide guidance
                through the acceptance process.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- interviews -->
<section class="interviews editable">
  <div class="container">
    <div class="category-wrapper">
      <div class="interview-category">
        <h3>Telephone Interviews</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-person-walking"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Stand up and walk around</h4>
              <p class="excerpt">
                It might sound silly but when you are standing, you sound more
                confident and communicate more clearly.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-print"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Print off your CV</h4>
              <p class="excerpt">
                Many interviewers will ask you questions related to your
                background and previous experience, inline to what you...
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-mobile-screen"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Avoid distractions</h4>
              <p class="excerpt">
                During the interview it is best to do this in a quiet area or
                best of all an open outside space, so you are sure that no one
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-stopwatch-20"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Give yourself time</h4>
              <p class="excerpt">
                Make sure you allow extra time for the call, telephone
                interviews usually last between 30 – 60 minutes, however.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-people-line"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Research the company & position</h4>
              <p class="excerpt">
                This is key as you need to prepare to show an interest in the
                company you are speaking too, print out the job description.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-group"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Learn about the interviewer</h4>
              <p class="excerpt">
                Many people now use professional social media sites like
                LinkedIn, this will give you a good idea of their key skills
                and.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-clock"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Take your time</h4>
              <p class="excerpt">
                Speak clearly and think about your answers, you are likely to be
                nervous (its natural) however the person you are speaking.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-circle-question"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Do you have any questions?</h4>
              <p class="excerpt">
                9 times out of 10 you will be asked this at the end of the
                interview, so be prepared – Have two or three questions in.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-wrapper">
      <div class="interview-category">
        <h3>Video Interviews</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-people-group"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Watch your surroundings</h4>
              <p class="excerpt">
                Online interviews are now a very popular way to meet you in
                person without the travel, you need to make sure you are in.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-tie"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Dress appropriately</h4>
              <p class="excerpt">
                Although you are likely to be conducting the interview in your
                own home, you need to be in appropriate dress code based
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-chair"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Sit comfortably</h4>
              <p class="excerpt">
                Online interviews can last longer then telephone interviews,
                make sure you are siting in a comfortable position so you are
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-lightbulb"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Remember the above</h4>
              <p class="excerpt">
                Similar to telephone interviews be prepared and consider the
                above tips.
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-wrapper">
      <div class="interview-category">
        <h3>Face to face Interviews</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-face-smile"></i>
              </div>
            </div>
            <div class="contents">
              <h4>First impressions count</h4>
              <p class="excerpt">
                Being friendly and approachable, this counts for EVERY one you
                meet on the day, including the receptionist and more
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-tie"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Look the part</h4>
              <p class="excerpt">
                Appearances shouldn’t matter, but the plain fact is that you are
                often judged before you’ve even uttered a word. Make sure
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-chair"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Stay calm</h4>
              <p class="excerpt">
                Good preparation is the key to staying in control. Plan your
                route, allowing extra time for any unexpected delays and get
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-file"></i>
              </div>
            </div>
            <div class="contents">
              <h4>CV’s</h4>
              <p class="excerpt">
                Be familiar with what you have written on your application
                form/CV – take a copy with you, and be prepared to support
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Timing</h4>
              <p class="excerpt">
                Always try to be atleast 10 / 15 minutes early and if you are
                unavoidably delayed call ahead. You will feel more confident
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-hourglass-half"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Long interviews</h4>
              <p class="excerpt">
                Sometimes face to face interviews can go on for 5+ hours and you
                will meet many different people within the company
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-circle-question"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Basic Questions</h4>
              <p class="excerpt">
                Sometimes you will be asked questions which might seem very
                simple, however you still need to give full and positive
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-lightbulb"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Important to remember</h4>
              <p class="excerpt">
                People you meet will be thinking what you will be like working
                with on a daily basis and how you will fit into the team, it is
                <span class="full-text"
                  >So next time you're giving a presentation or having an
                  important conversation, try standing up and see if it makes a
                  difference!</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-text">
            <h2 class="title">Contact</h2>
          </div>
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
