{{define "main"}}

<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <section>
        <div class="page-title">
          <div class="container">
            <h1>Contact Us</h1>
            <hr class="custom-hr" />
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="locations editable">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="location-single">
          <div class="card">
            <div class="card-img-top">
              <img
                src="/img/locations/australia.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="card-body">
              <h3>Sydney</h3>
              <p>64 York Street Sydney, New South Wales 2000 Australia</p>
              <h4>+61 2 8005 2584</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="location-single">
          <div class="card">
            <div class="card-img-top">
              <img
                src="/img/locations/melbourne.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="card-body">
              <h3>Melbourne</h3>
              <p>
                Level 14, 333 Collins Street Melbourne, Victoria 3000 Australia
              </p>
              <h4>+61 3 9005 2123</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="location-single">
          <div class="card">
            <div class="card-img-top">
              <img src="/img/locations/boston.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h3>Boston</h3>
              <p>20 Park Plaza Building, Boston, MA 02116-4303</p>
              <h4>+1 888 210 3149</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
