<!DOCTYPE html>
<html lang="en">

{{partial "head.html"}}

<body>
	<!-- Header -->
	 {{partial "header.html"}}
	<main>
		<section class="editable">
			<div class="job editable">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="hire">
								<h2>Looking to hire technical talent?</h2>
								<p>Need technical talent to take your organization to the next level? Act now and let us help! Our team of experts specializes in finding the perfect match for your organization, with a focus on speed and efficiency. With our help, you can have a new team member on board in no time, reducing recruitment costs and maximizing productivity.</p>
								<a class="bttn" target="_blank" href="https://runtimerec.co.uk/submit-job-spec.html">Contact Us Today<i class="fa-solid fa-arrow-right"></i></i></a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="hire">
								<h2>Looking for interesting engineering jobs?</h2>
								<p>Are you seeking a career with some of the most innovative and forward-thinking brands in the industry? Look no further, we partner with cutting-edge companies to create groundbreaking technology that leverages the latest in electronic design, firmware and software coding, quality assurance, and industrial design. We are passionate about finding the best and brightest talent to join these cool and exciting brands, and we work tirelessly to match candidates with the perfect role for their skills and experience.
<br><br>With our industry expertise, personalized service, and commitment to excellence, you can trust us to guide you to your dream job with the coolest brands in the tech world.<br><br>

								<a href="https://runtimerec.co.uk/submit-resume.html" target="_blank" style="color:#ee3e42"><b>Contact us</b></a> today to start your journey towards a fulfilling and exciting career in the engineering industry! </p>
								<a class="bttn outile-btn" href="https://jobs.runtimerec.com/">Check Jobs<i class="fa-solid fa-arrow-right"></i></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Video Section -->
		<section class="editable">
			<div>
				<div class="container">
					<div class="video-section">
						<div id="vidBox">
							<a id="play-video" class="video-play-button" href="https://youtu.be/OKqsPKzLiUc?autoplay=1" data-lity>
								<span></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- we Work section -->
		<section class="editable">
			<div class="wework">
				<div class="container">
					<h2 class="title">How We Can Help</h2>
					
					<div class="about-us-wrapper">
						<div class="left-side">
							<img src="img/about.jpg" alt="Runtime" class="img-fluid">
						</div>
						<div class="right-side">
							<div class="work-text">
								<p>Recruiting the right candidates for your business can be a daunting task. With so many different recruitment agencies and services available, it can be challenging to know where to start. However, one company that stands out above the rest is RunTime.</p>
								<p class="d-inline" id="collapseText">RunTime is a recruitment agency with a difference. With a team of engineers turned recruiters and researchers, RunTime understands the technical aspects of your job specifications and has the expertise to match you with the most qualified candidates.<br><br>

									What sets RunTime apart is our unique approach to recruitment. Unlike other recruitment agencies that take a one-size-fits-all approach, RunTime tailors their services to meet your specific needs. We take the time to get to know your company culture, team, and the projects you're working on. This way, we can match you with candidates who not only have the right skills and experience but also fit in with your company's values and ethos.<br><br>
									
									At RunTime, we understand that job specifications can be wish lists. We work with you to define the essential skills and experience you need while assuring you that we will do our best to get you the most qualified candidates for the job at hand.<br>
									
									Our candidate sourcing strategies are unique, combining content marketing, social networks, job boards, and our very own database of vetted candidates. We move quickly to give you a good flow of qualified candidates for your open positions. With our expert guidance, you can be confident that you're getting the best possible candidates for the job.<br><br>
									
									At RunTime, we're committed to providing a seamless and stress-free recruitment process. We guarantee an honest and quick response to all candidates and handle interviews with professionalism and speed. We help candidates through salary negotiations as well as pre-interview coaching and resume advice.<br><br>
									
									Our commitment to accuracy, timely communication, and exceptional service is unmatched. As our client, we respect your internal processes and the involvement of other departments such as HR. We use the latest tools to ensure fast and smooth transactions. <br><br>
									
									RunTime is more than just a recruitment agency. We pride themselves on our family-style culture, fostering engagement and commitment at all levels of their company. Our staff retention rates are high, meaning you can rely on the same RunTime contact person for years to come. This builds a strong relationship with a team that truly understands your needs.<br><br>
									
									When you work with RunTime, you're not just hiring a recruitment agency; you're partnering with a team of experts who are invested in your success. We're committed to building long-lasting relationships with our clients, ensuring that you get the best possible candidates for your business.<br><br>
									

									Finding the right candidate for your business can be a challenging task. However, with RunTime, you don't have to do it alone. We understand the technical aspects of your job specifications and have the expertise to match you with the most qualified candidates. With our unique approach to recruitment, you can be confident that you're getting the best possible candidates for the job. So, if you're looking for a recruitment agency that truly understands your unique needs, look no further than RunTime. Send us a quick message <a href="contact-us.html" style="text-decoration: underline;">here</a> and we'll help you find the perfect candidate for your open position.</p> <br><br>
									
									<a class="work-bttn d-inline" role="button" id="seeMoreBtn">
									see more</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Roles Area -->
		<section id="roles-area" class="editable">
			<div class="roles-area">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Roles We Recruit</h2>
						<a class="sec-btn" role="button" id="rolesToggleBtn">View all</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Engineering_Team_Leaders_do.html">Team Leaders</a></h3>
								<p>Technical Team Leads manage tech professionals, coordinate projects, mentor and train, make high-level decisions, and drive team success.. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_IOT_Engineers_do.html">IOT Engineers</a></h3>
								<p>IoT Engineers design and build systems that connect everyday devices to the internet, enabling remote monitoring and control.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="what_do_Electrical_Engineers_do.html">Electrical Engineers</a></h3>
								<p>Electrical Engineers design, develop and test electrical systems, from small electronic devices to large power generation plants. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_QA_Engineers_do.html">QA Engineers</a></h3>
								<p>QA Engineers test software and systems to ensure they meet quality standards, detect defects, and ensure user satisfaction.</p>
							</div>
						</div>						
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_does_a_Electronic_Engineer_do.html">Electronics Engineers</a></h3>
								<p>Electronics Engineers design, develop and test electronic systems, from tiny microchips to large-scale communication networks.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Mechanical_Engineers_do.html">Mechanical Engineers</a></h3>
								<p>Mechanical Engineers design, develop and test mechanical systems, from small parts to large machines, ensuring they function effectively and safely</p>
							</div>
						</div>
					</div>
					<div id="hiddenRoles">
						
					<div class="row">
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_FAE_Engineers_do.html">FAE Engineers</a></h3>
								<p>FAE Engineers (Field Application Engineer) provide technical support to customers, helping them integrate complex products into their systems.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Firmware_Engineers_do.html">Firmware Engineers</a></h3>
								<p>Firmware Engineers design and develop low-level software that controls the hardware of electronic devices, from smartphones to autonomous vehicles.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Avionics_Engineers_do.html">Avionics Engineers</a></h3>
								<p>Avionics Engineers design, develop and test electronic systems used in aircraft, including navigation, communication, and flight control systems. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Control_Systems_Engineers_do.html">Control Systems Engineers</a></h3>
								<p>Control Systems Engineers design, develop and implements automated control systems, such as those used in manufacturing and transportation.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_does_a_Software_Engineer_do_.html">Software Engineers C/C++</a></h3>
								<p>C/C++ Software Engineers design and develop software using the C and C++ programming languages, used in systems programming and embedded devices.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="what_do_Machine_Learning_Engineers_do.html">Machine Learning Engineers</a></h3>
								<p>Machine Learning Engineers designs and develops systems that can learn from data and make predictions, used in fields such as AI and data analysis.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Engineering_Managers.html">Engineering Managers</a></h3>
								<p>Engineering Managers oversees technical projects and teams, manages budgets, allocates resources, and ensures successful project delivery.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_FPGA_Engineers_do.html">FGPA Engineers</a></h3>
								<p>FPGA Engineers design, implement, and test custom digital circuits using FPGAs, and collaborate with other engineers to optimize system designs and troubleshoot issues during the process.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="roles-content">
								<h3><a href="What_do_Full-Stack_Engineers_do.html">Full-Stack Engineers</a></h3>
								<p>Full-Stack Engineers are responsible for designing, developing, and maintaining both the front-end and back-end components of web applications, ensuring they function smoothly and efficiently from end to end.</p>
							</div>
						</div>
					</div>
					</div>

				</div>
			</div>
		</section>
		<!-- Industry section -->
		<section id="industry-area" class="editable">
			<div class="industry-area">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Embedded Industries</h2>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/medical.gif" alt="Medical"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Medical</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/transport.gif" alt="Transport"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Transport</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/industrial.gif" alt="Industrial"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Industrial</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/audio.gif" alt="Audio/Video"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Audio/Video</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/space.gif" alt="Space"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Space</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/ml.gif" alt="ML/CV"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">ML/CV</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						  <div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/Farming.gif" alt="Agriculture"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Agriculture</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/Energy.gif" alt="Energy"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Energy</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/Teleco.gif" alt="Telecommunications"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Telecommunications</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
							<div class="col-lg-4 col-md-6">
							<div class="industry-content">
								<div class="industry-img">
									<a href="#"><img src="img/industry/IOT.gif" alt="Internet of Things (IoT)"></a>
								</div>
								<div class="industry-text">
									<h3 class="title"><a href="#">Internet of Things (IoT)</a></h3>
									<a class="industry-btn" href="https://jobs.runtimerec.com/">See all Positions</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Technologies Area -->
		<section id="technologies-area" class="editable">
			<div class="technologies-area">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Technologies</h2>
						<a class="sec-btn" role="button" id="techToggleBtn">View all</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>Drivers: Ethernet, Audio, Video, USB, 802.11x, 802.16x, PCIe, I/O, I2C, SPI</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>Board Bring up, Board Support Packages (BSP), boot code, HAL and diagnostics</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>ASIC design/ Verification/ Board-Level Design (Verilog, VHDL, SystemVerilog, OVM, UVM, Perl, Synopsys)</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>Firmware, device drivers and applications</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>FPGA Design/Verification</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="tech-content">
								<i class="fa fa-check-square"></i>
								<p>Board level and systems development</p>
							</div>
						</div>
					</div>
					<div id="hiddenTechs">
						<div class="row">
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Microprocessor design/verification</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Protocol Stack porting and implementation</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>High Speed Board Design, Orcad, Signal Integrity</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>CAD, Solidworks, 3D models and 2D drawings(NX)</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Board Layout</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>PCB design from Altium Designer</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>PLC and SCADA</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>C, C++, assembly, scripting, microcode development</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Analogue and Digital Electronics design</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Porting of Operating Systems to new platforms</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Computer Vision and image processing</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Platforms/SoC’s: ARM, MIPS, PowerPC, Intel, Freescale/Motorola, Network Processors</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="tech-content">
									<i class="fa fa-check-square"></i>
									<p>Deep learning and Neural Networks</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Clients -->
		<section id="clients" class="editable">
			<div class="clients">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Some Clients</h2>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/atomos.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/Lumen.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/Selectronic.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/Burrana.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/AppliedEV.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/Cohda-Wireless.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/outerspace.jpg" alt="">
							</div>
						</div>
						<div class="col-md-3">
							<div class="client-logo">
								<img src="img/client/RapidSilcon.jpg" alt="">
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Testimonials -->
		<section id="testimonials" class="editable">
			<div class="testimonials">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Testimonials</h2>
						<a class="sec-btn" href="testimonials.html">View all</a>
					</div>
					<div class="owl-carousel" id="testimonialSlider">
						<div class="item">
							<div class="test-content">
								<p>RunTime sprang into action to help me fill a critical vacancy for a GNC engineer that I had been seeking for what felt like forever! I had been trying to hire GNC engineers resident in Australia with absolutely no luck for over 6 months, and these folks bent over backwards to find me some very impressive talent. They were immediately responsive and after consultation brought me an impressive collection of resumes. They spoiled me for choice, and I was able to find the most fantastically qualified individual to help me with my development program. I can not recommend their services highly enough, as they helped me rebuild my team in an incredibly short amount of time, even with the difficulties of COVID.</p>
								<div class="test-bio">
									<div class="img-text d-inline">
										<div class="test-img d-inline">
											<a href="#"><img src="img/testimonial/test1.png" alt=""></a>
										</div>
										<div class="test-title d-inline">
											<h4><a href="#">Cameron Williamson</a></h4>
											<h6>CEO & Techlead</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="test-content">
								<p>RunTime provided us with the right set of candidates for two high skill embedded software positions. They were able to find local candidates when other have failed. We decided to hire one of them and keep in touch with another one. This is a great achievement and I highly recommend RunTime service to other company with embedded SW development engineer needs.</p>
								<div class="test-bio">
									<div class="img-text d-inline">
										<div class="test-img d-inline">
											<a href="#"><img src="img/testimonial/test1.png" alt=""></a>
										</div>
										<div class="test-title d-inline">
											<h4><a href="#">Cameron Williamson</a></h4>
											<h6>CEO & Techlead</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How Work Section -->
		<section>
				<div class="wework">
						<div class="container">
								<h2 class="title">How It Works</h2>
								<div class="row">
										<div class="col-md-12">
												<div class="working">
														<div class="odd-working working-sec">
																<div class="working-time">
																		<i class="fa-solid fa-users"></i>
																		<h3>30-40</h3>
																		<span>mins</span>
																</div>
																<div class="working-rules rules-one ">
																		<div class="working-box">
																				<h3>Briefing Meeting</h3>
																				<p>Stakeholders, Culture, Job Spec,
																						Process, Agree Terms</p>
																		</div><br>
																		<div class="collapseSteps">
																				<div class="working-box">
																					<h3>Job Spec</h3>
																					<p>Lock Down Job Specification                                            </p>
																			</div><br>
																			<div class="working-box">
																					<h3>KPI’s</h3>
																					<p>Agree timelines and key contact persons for resume submission and interview</p>
																			</div>
																		</div>
																</div>
														</div>
														<div class="even-working working-sec">
																<div class="working-rules">
																		<div class="working-box">
																				<h3>Research</h3>
																				<p>Understand Client
																						Competitors, Client
																						Technologies, Market Trends</p>
																		</div>
																</div>
																<div class="working-time">
																		<i class="fa-solid fa-magnifying-glass"></i>
																		<h3>01</h3>
																		<span>day</span>
																</div>
														</div>
														<div class="odd-working working-sec">
																<div class="working-time">
																		<i class="fa-solid fa-user-group"></i>
																		<h3>02</h3>
																		<span>weeks</span>
																</div>
																<div class="working-rules">
																		<div class="working-box">
																				<h3>Source Candidates</h3>
																				<p>Database Search. Inbound Marketing Networking (Offline), Social Media</p>
																		</div>
																</div>
														</div>
														<div class="even-working working-sec">
																<div class="working-rules">
																		<div class="working-box">
																				<h3>Shortlist Candidates</h3>
																				<p>Technical Interview. Skills Testing                                            </p>
																		</div>
																</div>
																<div class="working-time">
																		<i class="fa-regular fa-user"></i>
																		<h3>02</h3>
																		<span>day</span>
																</div>
														</div>
														
														<div class="collapse show multi-collapse" id="multiCollapseExample6">
															 <p> <div class="odd-working d-flex">
																<div class="working-time">
																		<i class="fa-regular fa-message"></i>
																		<h3>02</h3>
																		<span>weeks</span>
																</div>
																<div class="working-rules">
																		<div class="working-box">
																				<h3>Present Candidates</h3>
																				<p>Endorse Candidates 
																						To Client (3 Max)</p>
																		</div><br>
																		<div class="collapseSteps">
																			<div class="working-box box-shape1">
																				<i class="one fa-solid fa-caret-left"></i>
																				<h3>Schedule Interviews</h3>
																				<p>Setup Interviews Times With Client(s) and Candidate(s)</p>
																		</div><br>
																		<div class="working-box">
																				<h3>Debrief Candidate
																						/Client</h3>
																				<p>Setup Interviews Times With Client(s) and Candidate(s)</p>
																		</div>
																		</div>
																</div>
																<div class="collapseSteps">
																	<div class="right-rules">
																			<div class="working-box box-shape2">
																				<i class="two fa-solid fa-caret-left"></i>
																					<h3>Backup Candidates</h3>
																					<p>Process Backup Candidates</p>
																			</div>
																	</div>

																</div>
														</div>
														<div class="offer-option">
															<div class="collapseSteps">
																<i class="three fa-solid fa-caret-left"></i>
																<div class="offer-text box-shape3">
																		<span class="yes">yes</span>
																		<span class="no">no</span>
																	 
																		<img src="img/svg/arrow-square.svg" alt="">
																		<h3>Candidate
																				Offered?</h3>
																</div>
															</div>
																<div class="even-working working-sec">
																		<div class="working-rules">
																				<div class="working-box box-shape4">
																					
																						<h3>Offer Processing</h3>
																						<p>Reference Checks <br>
																								Offer Letter/Contract to candidate <br>
																								Gauge Commitment</p>
																				</div>
																		</div>
																		<div class="working-time">
																				<i class="fa-solid fa-user-check"></i>
																				<h3>3</h3>
																				<span>day</span>
																		</div>
																</div>
														</div>
														<div class="offer-option">
															<div class="collapseSteps">
																<i class="four fa-solid fa-caret-left"></i>
																<div class="offer-text box-shape3">
																		<span class="yes">yes</span>
																		<span class="no">no</span>
																		<img src="img/svg/arrow-square.svg" alt="">
																		<h3>Candidate
																				Accepts
																				Offer?</h3>
																</div>
															</div>
															<div class="odd-working working-sec">
																	<div class="working-time">
																			<i class="fa-solid fa-users"></i>
																			<h3>04</h3>
																			<span>week</span>
																	</div>
																	<div class="working-rules">
																			<div class="working-box box-shape4">
																					<h3>Source Candidates</h3>
																					<p>Database Search. Inbound Marketing Networking (Offline), Social Media</p>
																			</div>
																	</div>
															</div>
														</div></p>
														</div>
														<div class="work-btn">
																<a role="button"  id="collapseWorks"> <i class="fa-solid fa-arrow-up"></i> See Less</a>
														 </div>
												 
												</div>
										</div>
								</div>
						</div>
				</div>
		</section>
		<!-- Blog Section -->
		<section id="blog" class="editable">
			<div class="blog">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Articles</h2>
						<a class="sec-btn" href="blog.html">View all</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="single-blog">
								<div class="blog-content">
									<h4><a href="#">7 Steps on How to Better Brainstorm Engineering Problems</a></h4>
									<p>Brainstorming is a vital practice for collaboration and for solving technical
										issues encountered during a project. It helps to break out of the monotonous ...
									</p>
								</div>
								<div class="blog-bio">
									<div class="blog-author">
										<div class="blog-img">
											<a href="#"><img src="img/testimonial/test1.png" alt=""></a>
										</div>
										<div class="blog-title">
											<h4><a href="#">Cameron Williamson</a></h4>
											<p><span>22-12-2022</span><i class="fa-sharp fa-solid fa-circle"></i><span>3
													mins</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-blog">
								<div class="blog-content">
									<h4><a href="#">11 Myths About 8-Bit Microcontrollers</a></h4>
									<p>The venerable 8-bit microcontroller (MCU) celebrated its 44th birthday this year.
									</p>
								</div>
								<div class="blog-bio">
									<div class="blog-author">
										<div class="blog-img">
											<a href="#"><img src="img/testimonial/test1.png" alt=""></a>
										</div>
										<div class="blog-title">
											<h4><a href="#">Cameron Williamson</a></h4>
											<p><span>22-12-2022</span><i class="fa-sharp fa-solid fa-circle"></i><span>3
													mins</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-blog">
								<div class="blog-content">
									<h4><a href="#">The Case for State Machines</a></h4>
									<p>The Case for State Machines: Better Efficiency, Predictability, and Debugging.
									</p>
								</div>
								<div class="blog-bio">
									<div class="blog-author">
										<div class="blog-img">
											<a href="#"><img src="img/testimonial/test1.png" alt=""></a>
										</div>
										<div class="blog-title">
											<h4><a href="#">Cameron Williamson</a></h4>
											<p><span>22-12-2022</span><i class="fa-sharp fa-solid fa-circle"></i><span>3
													mins</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Video Section -->
		<section id="video" class="editable">
			<div class="video">
				<div class="container">
					<div class="sec-text">
						<h2 class="title">Video</h2>
						<a class="sec-btn" href="videos.html">View all</a>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="video-content">
								<div class="video-img">
									<a><img src="img/videos/video1.png" alt=""></a>
								</div>
								<div class="video-title">
									<h3><a href="javascript:void(0)">Booting Windows, Ubuntu Desktop and Ubuntu Server on UDOO x86</a></h3>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="video-content">
								<div class="video-img">
									<a href="javascript:void(0)" id="trigger2"><img src="img/videos/video2.png" alt=""></a>
								</div>
								<div class="video-title">
									<h3><a href="javascript:void(0)" id="trigger2">How To Install Home Assistant on
											Raspberry Pi</a></h3>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="video-content">
								<div class="video-img">
									<a href="javascript:void(0)" id="trigger3"><img src="img/videos/video3.jpg" alt=""></a>
								</div>
								<div class="video-title">
									<h3><a href="javascript:void(0)" id="trigger3">How To Run Windows x86 Programs on
											ARM Raspberry Pi</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Contect Section -->
		<section id="contact" class="editable">
			<div class="contact">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="contact-text">
								<h2 class="title">Contact</h2>
							</div>
							<div class="contact-form">
								<form action="">
									<div class="user-details">
										<input type="text" name="first_name" placeholder="Your First Name">
										<input type="text" name="last_name" placeholder="Your Last Name">
										<input type="email" name="email" placeholder="Your Email Name">
									</div>
									<div class="user-msg">
										<input type="text" name="msg" placeholder="Message">
									</div>
									<input class="bttn" type="submit" value="Send Now">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<!-- Footer -->
	{{partial "footer.html"}}

	<!---->

	{{partial "script.html"}}
</body>

</html>