{{define "main"}}
<section class="editable">
  <div class="page-title">
    <div class="container">
      <h1>Testimonials</h1>
      <hr class="custom-hr" />
    </div>
  </div>
</section>
<!-- Testimonials -->
<section id="testimonials" class="editable">
  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="test-content">
            <p>
              I have known and engaged with Runtime over the last ten years in
              variously projects and assignments. Runtime by far is one of the
              top specialist technical recruiters, RunTime engineering
              background and top personal skills place them in a unique
              positions in identifying the right candidates and talents quickly.
              I cherish Runtime's dedication, professionalism over the years and
              have no hesitation in recommending them for any assignments,
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img//testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              About 99% of all embedded systems recruiters are those who do not
              have any development background in embedded systems as engineers,
              Runtime recruiter's posses many years of solid embedded systems
              experience gained as engineers. Runtime staff are knowledgebale,
              Skillful, courageous and very friendly, IN today's IT ecosystem, a
              partner like Runtime is worth their weight in gold.
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img//testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              RunTime provided us with the right set of candidates for two high
              skill embedded software positions. They were able to find local
              candidates when other have failed. We decided to hire one of them
              and keep in touch with another one. This is a great achievement
              and I highly recommend RunTime service to other company with
              embedded SW development engineer needs.
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              RunTime applies best of breed industry expertise together with
              passion for delivering first class results for all of its clients
              and candidates. They are meticulous in their approach in sourcing
              the best resources to fulfil project needs.
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              Although I joined another company eventually, but I would strongly
              recommend Lance to anyone who is looking for job opportunity in
              Australia. He will surely make your journey a memorable one. Thank
              you for you help Lance and I wish you the best for your future
              endeavours!
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              It’s my great honor to know Lance, other than normal recruiter, he
              has many years engineering background which enables him to find
              the right postion matching your background quickly, and the smooth
              interaction with employer makes a pleasant result highly possible.
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              I have known and engaged with Runtime over the last ten years in
              variously projects and assignments. Runtime by far is one of the
              top specialist technical recruiters, RunTime engineering
              background and top personal skills place them in a unique
              positions in identifying the right candidates and talents quickly.
              I cherish Runtime's dedication, professionalism over the years and
              have no hesitation in recommending them for any assignments,
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="test-content">
            <p>
              About 99% of all embedded systems recruiters are those who do not
              have any development background in embedded systems as engineers,
              Runtime recruiter's posses many years of solid embedded systems
              experience gained as engineers. Runtime staff are knowledgebale,
              Skillful, courageous and very friendly, IN today's IT ecosystem, a
              partner like Runtime is worth their weight in gold.
            </p>
            <div class="test-bio">
              <div class="img-text d-inline">
                <div class="test-img d-inline">
                  <a href="#"
                    ><img src="/img/testimonial/test1.png" alt=""
                  /></a>
                </div>
                <div class="test-title d-inline">
                  <h4><a href="#">Cameron Williamson</a></h4>
                  <h6>CEO & Techlead</h6>
                </div>
              </div>
              <div class="test-btn">
                <a class="test-bttn" href="#">View full story</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pagination">
                  <div class="page-item">
                      <a href="#" class="arrow-icon first-icon">
                          <i class="fa-solid fa-angles-left"></i>
                      </a>
                  </div>
                  <div class="page-item">
                      <a href="#" class="arrow-icon previous-icon">
                          <i class="fa-solid fa-angle-left"></i>
                      </a>
                  </div>
                  <div class="page-item active-page"><a href="#">1</a></div>
                  <div class="page-item"><a href="#">2</a></div>
                  <div class="page-item"><a href="#">...</a></div>
                  <div class="page-item"><a href="#">99</a></div>
                  <div class="page-item"><a href="#">100</a></div>
                  <div class="page-item">
                      <a href="#" class="arrow-icon next-icon">
                          <i class="fa-solid fa-angle-right"></i>
                      </a>
                  </div>
                  <div class="page-item">
                      <a href="#" class="arrow-icon last-icon">
                          <i class="fa-solid fa-angles-right"></i>
                      </a>
                  </div>
              </div> -->
    </div>
  </div>
</section>
<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-text">
            <h2 class="title">Contact</h2>
          </div>
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
