{{define "main"}}

<section class="editable">
  <div class="page-title">
    <div class="container">
      <h1>Videos</h1>
      <hr class="custom-hr" />
    </div>
  </div>
</section>
<!-- Video Section -->
<section id="video" class="editable">
  <div class="video">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="#"><img src="/img/videos/video1.png" alt="" /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)"
                  >Booting Windows, Ubuntu Desktop and Ubuntu Server on UDOO
                  x86</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="javascript:void(0)" id="trigger2"
                ><img src="/img/videos/video2.png" alt=""
              /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)" id="trigger2"
                  >How To Install Home Assistant on Raspberry Pi</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="javascript:void(0)" id="trigger3"
                ><img src="/img/videos/video3.jpg" alt=""
              /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)" id="trigger3"
                  >How To Run Windows x86 Programs on ARM Raspberry Pi</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="#"><img src="/img/videos/video1.png" alt="" /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)"
                  >Booting Windows, Ubuntu Desktop and Ubuntu Server on UDOO
                  x86</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="javascript:void(0)" id="trigger2"
                ><img src="/img/videos/video2.png" alt=""
              /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)" id="trigger2"
                  >How To Install Home Assistant on Raspberry Pi</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-content">
            <div class="video-img">
              <a href="javascript:void(0)" id="trigger3"
                ><img src="/img/videos/video3.jpg" alt=""
              /></a>
            </div>
            <div class="video-title">
              <h3>
                <a href="javascript:void(0)" id="trigger3"
                  >How To Run Windows x86 Programs on ARM Raspberry Pi</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pagination">
                <div class="page-item">
                  <a href="#" class="arrow-icon first-icon">
                    <i class="fa-solid fa-angles-left"></i>
                  </a>
                </div>
                <div class="page-item">
                  <a href="#" class="arrow-icon previous-icon">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </div>
                <div class="page-item active-page"><a href="#">1</a></div>
                <div class="page-item"><a href="#">2</a></div>
                <div class="page-item"><a href="#">...</a></div>
                <div class="page-item"><a href="#">99</a></div>
                <div class="page-item"><a href="#">100</a></div>
                <div class="page-item">
                  <a href="#" class="arrow-icon next-icon">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </div>
                <div class="page-item">
                  <a href="#" class="arrow-icon last-icon">
                    <i class="fa-solid fa-angles-right"></i>
                  </a>
                </div>
              </div> -->
    </div>
  </div>
</section>
<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-text">
            <h2 class="title">Contact</h2>
          </div>
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
