{{define "main"}}

<section class="editable">
  <div class="page-title">
    <div class="container">
      <h1>Clients</h1>
      <hr class="custom-hr" />
    </div>
  </div>
</section>

<!---->
<section class="for-clients editable">
  <div class="container">
    <div class="category-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-book-open-reader"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Learn About Your Company</h4>
              <p class="excerpt">
                Our initial interaction with you will be to uncover your
                culture, people, products,
                <span class="full-text">
                  processes and the problems you are trying to solve. With this
                  in mind, we can endorse engineers who meet most of your
                  expectations and give you a good candidate flow throughout the
                  recruitment process
                </span>
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-book-open-reader"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Understand Your Job Specifications</h4>
              <p class="excerpt">
                Our recruiters have hands-on engineering experience having
                worked in Embedded Systems and Systems Development.<span
                  class="full-text"
                >
                  You’ll never have to explain your job specification to us
                  twice.</span
                >
              </p>
              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-microchip"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Respect Your Process</h4>
              <p class="excerpt">
                All companies have some process or system when recruiting staff.
                <span class="full-text">
                  Our aim is to blend in with your processes and respect your
                  protocols and channels of communications.</span
                >
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-clock"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Save You Time</h4>
              <p class="excerpt">
                From understanding your job specifications and your business
                through to effectively shortlisting candidates,
                <span class="full-text">
                  we tailor our service to minimise the strain on your working
                  day.
                </span>
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-info"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Provide Accurate and Timely Information</h4>
              <p class="excerpt">
                To make it easier for hiring managers we provide a detailed
                summary of each candidate’s skills
                <span class="full-text">
                  and experience matched to open positions. We also administer
                  technical tests on behalf of candidates when required.</span
                >
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-group"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Communicate With Purpose</h4>
              <p class="excerpt">
                We understand you’re busy running your projects and don’t need
                more unnecessary chatter.
                <span class="full-text">
                  To ease excessive communication, we slot into your workflow
                  using whatever method you prefer be that chat, email, social
                  media, SMS or the phone.</span
                >
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-user-shield"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Uphold Confidentiality</h4>
              <p class="excerpt">
                Guarding your company’s Intellectual Property is more important
                today than ever before. <span class="full-text"></span>
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-handshake"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Remain Flexible</h4>
              <p class="excerpt">
                We are committed to the needs of our clients and will do our
                best to accommodate them to ensure a long-term relationship.
                <span class="full-text"></span>
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-solid fa-thumbs-up"></i>
              </div>
            </div>
            <div class="contents">
              <h4>In It for the Long Run</h4>
              <p class="excerpt">
                Establishing new relationships takes time and considerable
                effort so having to do it, again and again, is tedious and
                wasteful.
                <span class="full-text"
                  >Although we can never say that our recruiters will not move
                  on, ours is a family-style culture which means our retention
                  rates are very high. To protect against anyone leaving we
                  typically have two recruiters assigned to our clients, one
                  primary contact and the other on standby to maintain
                  continuity.
                </span>
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-interview-details">
            <div class="icon">
              <div class="icon-border">
                <i class="fa-regular fa-lightbulb"></i>
              </div>
            </div>
            <div class="contents">
              <h4>Constantly Innovate</h4>
              <p class="excerpt">
                One of the cornerstones of our success is the constant
                innovation of our services,
                <span class="full-text"
                  >internal processes and our technology. We continuously seek
                  out new tools and methods, which help us to deliver higher
                  value to our clients and candidates.</span
                >
              </p>

              <a role="button" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contect Section -->
<section id="contact" class="editable">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-text">
            <h2 class="title">Contact</h2>
          </div>
          <div class="contact-form">
            <form action="">
              <div class="user-details">
                <input
                  type="text"
                  name="first_name"
                  placeholder="Your First Name"
                />
                <input
                  type="text"
                  name="last_name"
                  placeholder="Your Last Name"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Name"
                />
              </div>
              <div class="user-msg">
                <input type="text" name="msg" placeholder="Message" />
              </div>
              <input class="bttn" type="submit" value="Send Now" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
