<footer>
  <div class="container editable">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="footer-widget footer-one">
            <h3 class="footer-title">About</h3>
            <nav class="footer-menu">
              <ul>
                <li>
                  <a href="/testimonials">Testimonial</a>
                </li>
                <li><a href="/">Jobs</a></li>
                <li>
                  <a href="/candidates">Candidates</a>
                </li>
                <li>
                  <a href="/submit-resume">Submit Resume</a>
                </li>
                <li>
                  <a href="/clients">Clients</a>
                </li>
                <li>
                  <a href="/submit-job-spec">Submit Job Spec</a>
                </li>
                <li>
                  <a href="/videos">Videos</a>
                </li>
                <li>
                  <a href="/blog">Articles</a>
                </li>
                <li>
                  <a href="/contact-us">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="footer-widget footer-two">
            <h3 class="footer-title">Some Clients</h3>
            <nav class="footer-menu">
              <ul>
                <li><a href="/clients/Atomos">Atomos</a></li>
                <li><a href="/clients/Lumen">Lumen</a></li>
                <li><a href="/clients/Selectronic">Selectronic</a></li>
                <li><a href="/clients/Burrana">Burrana</a></li>
                <li><a href="/clients/Applied_EV">AEV Robotics</a></li>
                <li><a href="/clients/Cohda">Cohda Wireless</a></li>
                <li>
                  <a href="/clients/Outerspace_Design">Outerspace Design</a>
                </li>
                <li><a href="/clients/Rapid_Silicon">RapidSilicon</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="footer-widget footer-one">
            <h3 class="footer-title">Embedded Industries</h3>
            <nav class="footer-menu">
              <ul>
                <li>
                  <a href="embedded_systems_in_medical_devices.html">Medical</a>
                </li>
                <li>
                  <a href="embedded_systems_in_transport.html">Transport</a>
                </li>
                <li>
                  <a
                    href="embedded_systems_in_Industrial_Automation_and_Control.html"
                    >Industrial Automation and Control</a
                  >
                </li>
                <li>
                  <a href="embedded_systems_in_Audio_and_Video_production.html"
                    >Audio/Video</a
                  >
                </li>
                <li>
                  <a href="embedded_systems_in_Agriculture.html">Agriculture</a>
                </li>
                <li><a href="embedded_systems_in_Energy.html">Energy</a></li>
                <li>
                  <a href="embedded_systems_in_Telecommunications.html"
                    >Telecommunications</a
                  >
                </li>
                <li>
                  <a href="embedded_systems_in_Aerospace.html">Aerospace</a>
                </li>
                <li>
                  <a href="embedded_systems_in_Internet_of_Things.html"
                    >Internet of Things (IoT)</a
                  >
                </li>
                <li><a href="embedded_systems_in_ML_and_CV.html">ML/CV</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="footer-widget footer-one">
            <h3 class="footer-title">Roles we recruit</h3>
            <nav class="footer-menu">
              <ul>
                <li>
                  <a href="what-does-a-software-engineer-do"
                    >Software/Firmware Engineers– C++</a
                  >
                </li>
                <li>
                  <a href="/what-does-a-electronic-engineer-do"
                    >Electronic Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-firmware-engineers.do"
                    >Firmware Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-mechanical-engineers.do"
                    >Mechanical Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-engineering-team-leaders.do"
                    >Team Leaders</a
                  >
                </li>
                <li>
                  <a href="/what-do-fpga-engineers-do">FPGA Engineers</a>
                </li>
                <li>
                  <a href="/what-do-fae-engineers-do">FAE Engineers</a>
                </li>
                <li>
                  <a href="/what-do-qa-engineers-do">QA Engineers</a>
                </li>
                <li>
                  <a href="/what-do-control-system-engineers-do"
                    >Control Systems Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-avoionics-engineers-do"
                    >Avionics Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-iot-engineers-do">IOT Engineers</a>
                </li>
                <li>
                  <a href="/what-do-full-stack-engineers-do"
                    >Full-Stack Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-engineering-managers"
                    >Engineering Managers</a
                  >
                </li>
                <li>
                  <a href="/what-do-machine-lerning-engineers-do"
                    >Machine Learning Engineers</a
                  >
                </li>
                <li>
                  <a href="/what-do-electrical-engineers-do"
                    >Electrical Engineers</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-text">
            <p>&#169; RunTime 2023</p>
          </div>
        </div>
        <div class="col-md-6">
          <nav class="share">
            <ul>
              <li>
                <a href="https://www.youtube.com/@RunTimerec" target="_blank"
                  >Youtube</a
                >
              </li>
              <li>
                <a href="https://twitter.com/lanceharvie" target="_blank"
                  >Twitter</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/lanceharvie/"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
