<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <a href="/"><img src="/img/logo.svg" alt="" /></a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="menu">
          <nav>
            <ul>
              <li class="responsive-icon">
                <img src="/img/svg/menu-icon.svg" alt="" />
              </li>
              <li><a class="active" href="/">home</a></li>
              <li><a href="/about-us">About</a></li>
              <li><a href="/testimonials">Testimonial</a></li>
              <li><a href="https://jobs.runtimerec.com/">Jobs</a></li>
              <li class="dropdown">
                <a href="/candidates" class="dropdown-toggle">Candidates</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/submit-resume"
                      >Submit Resume</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/clients" class="dropdown-toggle">Clients</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/submit-job-spec"
                      >Submit Job Spec</a
                    >
                  </li>
                </ul>
              </li>
              <li><a href="/videos">Videos</a></li>
              <li><a href="/articles">Articles</a></li>
              <li class="search-icon">
                <img src="/img/svg/search-icon.svg" alt="" />
                <div class="search-container">
                  <button type="button" id="closeSearchbar">
                    <i class="fa fa-times"></i>
                  </button>
                  <button type="button" id="closeSearchbar">
                    <i class="fa fa-times"></i>
                  </button>
                  <form action="">
                    <input type="text" placeholder="Search.." name="search" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </li>
              <li>
                <a class="bttn contact" href="/contact-us">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="responsive-menu">
    <i onClick="myFunction" class="res-btn fa-solid fa-x"></i>
    <nav>
      <ul>
        <li><a class="active" href="/">home</a></li>
        <li><a href="/about-us">About</a></li>
        <li><a href="/testimonials">Testimonial</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="/candidates">Candidates</a></li>
        <li><a href="/submit-resume">Submit Resume</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/submit-job-spec">Submit Job Spec</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/blog">Articles</a></li>
        <li><a href="/contact-us">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
